@import "../../index.scss";

.navbar{
  background-color: $mainBlack;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-links{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 0.2rem;
  text-align: center;
}

.nav-link{
  color: $mainGrey;
  font-size: 1.2rem;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  &:hover{
    color: $mainWhite;
    background: $mainGrey;
  }
}
.active{
  color: $mainWhite;
  background: $mainGrey;
}