*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.person{
  background-color: #eeeeee;
  width: 17rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: all linear 0.3s;
  border: 1px solid teal;
}

.person:hover{
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
}

.person img{
  border-radius: 50%;
  border: 3px teal double;
  width: 100%;
}

.person p {
  text-align: justify;
}

.person h2 {
  text-transform: capitalize;
  margin: 0.1rem 0;
  letter-spacing: 0.15rem;
  color: teal;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .person-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .person-list {
    grid-template-columns: repeat(3,1fr);
  }
}